<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_ReCaptcha>
			<version>1.3.0.1</version>
			<fishpig>
				<name>ReCaptcha</name>
				<url>http://fishpig.co.uk/magento/wordpress-integration/recaptcha/</url>
			</fishpig>
		</Fishpig_Wordpress_Addon_ReCaptcha>
	</modules>
	<global>
		<blocks>
			<wp_addon_recaptcha>
				<class>Fishpig_Wordpress_Addon_ReCaptcha_Block</class>
			</wp_addon_recaptcha>
		</blocks>
		<models>
			<wp_addon_recaptcha>
				<class>Fishpig_Wordpress_Addon_ReCaptcha_Model</class>
			</wp_addon_recaptcha>
		</models>
	</global>
	<frontend>
		<events>
			<wordpress_post_view_init_layout_after>
				<observers>
					<wp_addon_recaptcha>
						<type>singleton</type>
						<class>wp_addon_recaptcha/observer</class>
						<method>injectPostCommentsCaptchaObserver</method>
					</wp_addon_recaptcha>
				</observers>
			</wordpress_post_view_init_layout_after>
		</events>
	</frontend>
	<default>
		<wordpress>
			<extend>
				<recaptcha>1</recaptcha>
			</extend>
		</wordpress>
	</default>
</config>